<div style="text-align:center">
  <h1>
  <app-my-component></app-my-component>
  </h1>  
</div>

<button (click)="count = count + 1">
  Click me
</button>
<p>
  Count = {{count}}
</p>

<img [src]="imgSource">

<label>Prueba: </label>
<input type="text" name="nombre" [disabled]="habilitado" placeholder="Cambiar Nombre" >

<button (click)= "habilitar()" class="boton">
    Cambiar
</button>

<div *ngIf="show">
    {{author}}
</div>

<div>
  <ul>
    <li *ngFor="let studet of students">
        {{studet}}
    </li>
  </ul>    
</div>

<div>
  <span [ngSwitch]="show">
  <div *ngSwitchCase="true">
      <ul>
          <li *ngFor="let person of people">
              {{person}}
          </li>
      </ul> 
    </div>
  <p *ngSwitchCase="false">
    No hay Personas para mostrar.
  </p>
  <p *ngSwitchDefault>
  
  </p>
  </span>
</div>

